.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 10% 10% 10%;
    gap: 20px;
}

.sleepingHoursMainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
}
.headingH1{
    text-align: center;
}
.sleepingContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* align-items: center; */
    width: 80%;
}
.sleepingHourInput{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: large;
}

.buttonContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 50%;
}
.nextButton{
    background: linear-gradient(to right,rgb(163, 145, 241),rgb(102, 71, 240));
    color: white;
    width: 90%;
    padding: 10px 0;
    border-radius: 7px;
    font-weight: bold;
    border: none;
}
.skipButton{
    width: 90%;
    padding: 10px 0;
    border-radius: 7px;
    background-color: transparent;
    color: rgb(92, 62, 229);
    font-weight: bold;
    border: none;
}
.sleepingContainer label{
    font-weight: bold;
}